.dub
docs.json
__dummy.html
docs/
/mcyeti
mcyeti.so
mcyeti.dylib
mcyeti.dll
mcyeti.a
mcyeti.lib
mcyeti-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
players
banned_ips.txt
properties
worlds
blockdb
blockdb/*
backups/*
backups
text
text/*
